* {box-sizing: border-box;}

img {vertical-align: middle;}

h1, h2, h3, h4, h5, h6, p, hr {margin-top: 0; margin-bottom: 8px;}

body {
    font-family: roboto;
    color: #555;
    margin: 0;
    background-color: #eeeeee;
    position: relative;
    font-size: 1rem;
}