/* Colores
Fondo #F5F5F6 
Fondo más oscuro #E1E2E1
Primario Gris #37474f
Acento Mostaza #ffb62d
Gris claro #62727b
Gris Oscuro #102027
Mostaza Claro #ffe862
Mostaza Oscuro #c78600
*/

/*General*/

.logo {
    height: 100px;
}

nav a {
    color: whitesmoke;
}

.nav-item + .nav-item {
    margin-left: 40px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-align {
    display: flex;
    list-style: none;
}

.navbar-align ul {
    margin-left: auto;
}

header {
    margin-bottom: 20px;
}

h1 {
    display: none;
}

footer {
    background-color: rgb(22, 22, 22);
    width: 100%;
    color: white;
    height: 100px;
    padding: 2%;
}
footer ul{
   display: flex;
   list-style: none;
   padding-top: 20px;
}

footer ul li{
    padding-left: 40px;
}

.copyright {
    color: white;
    font-size: smaller;
    margin-left: auto;
}

iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.main-padding {
    padding-top: 120px;
}

/*Home*/

.home-box {
    background-image: url(imagenes/Fondo_beatles);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    justify-content: center;
}

.quote-home {
    margin-top: 60%;
    font-size: 80px;
    font-family: roboto;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 1px 1px 5px grey;
    line-height: 1;
}

.sp-yt {
    margin-top: 10%;
}

/*Integrantes*/

.carousel .carousel-inner {
    height:500px
    }

.carousel .carousel-inner .carousel-item img{
    min-height:200px;
    object-fit: cover;
    height: 500px;
}

.carousel-caption {
    color: #ffb62d;
}

.integrantes-carousel {
    box-shadow: 1px 1px 4px darkgrey;
}

.temporales {
    color: #ffb62d;
    margin-bottom: 50px;
    margin-top: 50px;
}

/*Discografia*/

.row div img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px darkgrey;
    margin-bottom: 10px;
}

/*Historia*/

.quote {
    background-color: rgb(255, 250, 232);
    padding: 20px;
}

div p {
    font-size: small;
}

.btn-historia {
    font-size: x-large;
    border: none;
    background-color: rgba(0, 0, 0, 0)
}

.historia-foto img {
    width: 100%;
}

.historia {
    margin-top: 5%;
    margin-bottom: 15%;
    width: 100%;
}

/*Newsletter*/

.form-title {
    color: rgb(255, 182, 45);
    padding-top: 20px;
    margin-bottom: 30px;
}

.form-title h3 {
    font-size: 80px;
    font-family: roboto;
    font-weight: 700;
}

button h4 {
    font-family: roboto;
    font-weight: 200;
}

.form-btn {
    font-size: smaller;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 100;
}

.modal-form {
    margin-bottom: 30px;
}

/*Responsive*/

@media (min-width: 576px) and (max-width: 991px) {
    .quote-home {
        font-size: 50px;
        margin-bottom: 0;
    }
}